#Experiment No. 5
##Title: To study Sets and Dictionaries in Python
### Ayush Phale PRN: 25070123028

In [ ]:
#A set is a collection which is unordered, unchangeable, and unindexed. A set is defined using curly brackets. Elements will be shuffled. Set items can appear in a different order every time you use them. It cannot be defined by index or a key. Duplicates are not allowed.

In [1]:
#Creation of Set
thisset = {"Prithvi", "Abhilasha", "Shreeya"}
print(thisset)

{'Abhilasha', 'Prithvi', 'Shreeya'}

In [2]:
#Duplicates not allowed
thisset = {"Prithvi", "Abhilasha", "Shreeya", "Abhilasha"}
print(thisset)

{'Shreeya', 'Abhilasha', 'Prithvi'}

In [3]:
#The values True and 1 are considered the same value in sets
thisset = {"Prithvi", "Abhilasha", "Shreeya", True, 1, 2}
print(thisset)

{'Abhilasha', 2, True, 'Prithvi', 'Shreeya'}

In [5]:
#A set will allow all kind of datatypes, strings, integers and, boolean values:
set1 = {"code", 34, True, 40, "male", 12.4}      #print[set1] will give error
set1

{12.4, 34, 40, True, 'code', 'male'}

In [7]:
  #To check the membership of the elements in the given set: (To check whether the given element is in the set or not.)

thisset = {"guava", "apple", "mango"}
print("mango" in thisset)
print("grapes" in thisset)

True
False

In [8]:
#Once a set is created, you cannot replace its items, but you can add new items

thisset = {"Prithvi", "Abhilasha", "Shreeya"}
thisset.add("Prinka")
print(thisset)

{'Abhilasha', 'Prithvi', 'Prinka', 'Shreeya'}

In [9]:
#Remove Item
thisset = {"Prithvi", "Abhilasha", "Shreeya"}
thisset.remove("Shreeya")
print(thisset)

{'Abhilasha', 'Prithvi'}

In [10]:
#Set Operations     #At least 2-3 elements in both the sets must be common.
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union: ", A|B)
print("Intersection:", A & B)    #Common in both
print("Difference: ", A-B)
print("Difference: ", B-A)
print("Symmetric Difference: ", A^B)   #Not common

Union:  {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference:  {1, 2}
Difference:  {5, 6}
Symmetric Difference:  {1, 2, 5, 6}

In [ ]:
#Python Frozenset - Immutable version of set, it is a type of tuple.

In [11]:
#Frozenset
x = frozenset({'Prithvi', 'Abhilashha', 'Shreeya'})
print(x)
print(type(x))

frozenset({'Shreeya', 'Prithvi', 'Abhilashha'})
<class 'frozenset'>

In [12]:
#Adding or Removal of elements are not allowed in Forzenset

x = frozenset({'Prithvi', 'Abhilashha', 'Shreeya'})
x.add("Prinka")
x.remove("Shreeya")
print(x)

AttributeError: 'frozenset' object has no attribute 'add'

In [13]:
#Problem Statement 1: Unique event Participants
# A college event has a list of students who registeredf multiple times by mistake. Write a program using set to store participant Names and diplay only unique participants.

Names = {"Prithvi", "Abhilasha", "Shreeya", "Prinka", "Kahaan", "Aksharr", "Kahaan", "Ishita", "Arshita", "Ishita", "Sanchit", "Chinmay", "Lakshay", "Chinmay", "Kahaan", "Aksharr", "Atharv", "Shaurya", "Sameeksha"}
Unique_Names = set(Names)
print("Unique Participants are: ", Unique_Names)

Unique Participants are:  {'Arshita', 'Abhilasha', 'Atharv', 'Prinka', 'Prithvi', 'Sanchit', 'Sameeksha', 'Kahaan', 'Shreeya', 'Ishita', 'Chinmay', 'Lakshay', 'Aksharr', 'Shaurya'}

In [14]:
#Problem Statement 2: Three students choose elective subjects. Find the common subjects chosen by all the students using set operations. Concept used - Set Intersection, Union, etc.

Student1 = {"Physics", "Chemistry", "Maths", "English", "Accounts"}
Student2 = {"Chemistry", "Maths", "French", "German", "Accounts"}
Student3 = {"German", "Sanskrit", "Maths", "Chemistry", "Business Studies", "Accounts"}

print("The common subjects chosen by the students are: ", Student1 & Student2 & Student3)

The common subjects chosen by the students are:  {'Accounts', 'Chemistry', 'Maths'}

In [15]:
#Problem Statement 3: One set contains students in the Cricket club, another in the Football Club. Find students who are in: -
#1. In both clubs; 2. In only one club. Concept used - Intersection & Symmetric Difference.

Cricket = {"Ansh", "Prithvi", "Chinmay", "Aarav", "Ayush", "Vidhaan", "Soham", "Siddhant"}
Football = {"Ayush", "Prithvi","Aarav", "Yash", "Soham", "Dhairya", "Aksharr"}

print("The students who are in both clubs are: ", Cricket & Football)
print("The students who are in only club are: ", Cricket^Football)

The students who are in both clubs are:  {'Ayush', 'Aarav', 'Soham', 'Prithvi'}
The students who are in only club are:  {'Vidhaan', 'Yash', 'Dhairya', 'Chinmay', 'Aksharr', 'Ansh', 'Siddhant'}

In [16]:
#Problem Statement 4: Absent Students: Given a set of all students and a set of present students, find the absent students. Concept used: Set Difference

Allstudents = {"Ansh", "Ayush", "Bidisha", "Prithvi", "Sameeksha", "Abhilasha", "Prajwal", "Nandini", "Devanshi", "Dev", "Aksharr"}
Presentstudents = {"Prithvi", "Bidisha", "Abhilasha", "Devanshi"}
print("The students who are absent are: ",  Allstudents - Presentstudents)

The students who are absent are:  {'Ayush', 'Sameeksha', 'Prajwal', 'Nandini', 'Aksharr', 'Dev', 'Ansh'}

In [17]:
#Problem Statement 5: Remove Invalid entries
#A set contains valid course codes. Remove a discontinued course code from the set. Concept used: remove()/ discard()

coursecodes = {481, 222, 456, 687, 356, 789, 564, 289}
coursecodes.remove(564)
print("The discontinued course code is: ", coursecodes)

The discontinued course code is:  {481, 289, 356, 456, 687, 789, 222}

#Dictionary

In [18]:
#Creation of Dictionary

thisdict = {
    "brand": "Ford", "model": "Mustang", "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [19]:
thisdict = {
    "Shop": "ZARA", "Type": "Fashion", "Trending Year": 2026
}
print(thisdict)

{'Shop': 'ZARA', 'Type': 'Fashion', 'Trending Year': 2026}

In [20]:
#To find out the brand
thisdict = {
    "brand": "Ford", "model": "Mustang", "year": 1964
}
print(thisdict["brand"])

Ford

In [21]:
thisdict = {
    "Shop": "ZARA", "Type": "Fashion", "Trending Year": 2026
}
print(thisdict["Type"])

Fashion

In [22]:
#Duplicates

Car = {
    "Brand": "Ford",
    "Model": "Mustang",
    "Year": 1964,
    "Year": 2020
}
print(Car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2020}

In [23]:
#Length of key-values
thisdict = {
    "Shop": "ZARA", "Type": "Fashion", "Trending Year": 2026
}

len(thisdict)

3

In [24]:
#Changing/Adding key-value in dictionary

Car = {
    "Brand": "Ford",
    "Model": "Mustang",
    "Year": 1964
}
Car["Colour"]= "Red"
x = Car.values()
print(x)  #after the change

dict_values(['Ford', 'Mustang', 1964, 'Red'])

In [25]:
#Retrival of Values
student = {
    "Roll": 101,
    "Name": "Ananya",
    "Branch": "EnTC"
}
print("Name:",student["Name"])

Name: Ananya

In [26]:
#Adding and Updating Elements
student["Year"] = "Second"
student["Name"] = "Rahul"

print(student)

{'Roll': 101, 'Name': 'Rahul', 'Branch': 'EnTC', 'Year': 'Second'}

In [27]:
#Removing Elements
student.pop("Branch")
print("After removal:", student)

After removal: {'Roll': 101, 'Name': 'Rahul', 'Year': 'Second'}

In [28]:
STUDENT = {
    "ROLL": 102,
    "NAME": "Ayush",
    "BRANCH": "ENTC",
}
print("NAME", STUDENT["NAME"])

STUDENT["YEAR"] = "FIRST"
STUDENT["NAME"] = "PRITHVI"
print(STUDENT)

STUDENT.pop("BRANCH")
print(STUDENT)

NAME Ayush
{'ROLL': 102, 'NAME': 'PRITHVI', 'BRANCH': 'ENTC', 'YEAR': 'FIRST'}
{'ROLL': 102, 'NAME': 'PRITHVI', 'YEAR': 'FIRST'}

In [29]:
#Problem Statement 1: A dictionary stores product names and their prices. Write a Python program to update the price of a given product.

values = {
    "Product": "Keyboard",

    "Price": 2500
}
values["Price"] = 2000
print(values)

{'Product': 'Keyboard', 'Price': 2000}

In [30]:
#2. Write a python program to search for student's marks
student_marks= {
    "Ayush": 90,
    "Prithvi": 92,
    "Akash": 95,
    "Shreeya":88,
}

name = input("Enter student name: ")
print(student_marks.get(name, "Student not found"))

Enter student name: Ayush
90

In [31]:
#3. A dictionary stores usernames and passwords. Write a Python program to validate user login.

class_dict = {
  "User1": "pass1",
  "User2": "pass2",
  "User3": "pass3",
}
username = input("Enter username:")
password = input("Enter password:")
if class_dict.get(username) == password:
    print("Login Successful")
else:
      print("Invalid Password")

Enter username:user1
Enter password:pass1
Invalid Password

In [32]:
#A dictionary stores student names and marks. Write a PYTHON progra to find the student who scored the highest marks.

marks = {"A": 85, "B": 92, "C": 78}
topper = max(marks, key=marks.get)
print("Topper:", topper)
print("Marks:", marks[topper])

Topper: B
Marks: 92